@font-face {
    font-family: myFont;
    src: url(../fonts/SpaceMono-Bold.ttf);
}

*{
    box-sizing: border-box;
}

body{
    font-family: myFont;
    background-color: hsl(185, 41%, 84%);
}

#container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#header{
    margin-bottom: 20px;
}

#header h2{
    letter-spacing: 10px;
    color:  hsl(183, 100%, 15%);
}

#main{
    width: 60%;
    height: 420px;
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    display: flex;
}

#input_section{
    width: 55%;
    height: 350px;
    display: flex;
    flex-direction: column;
    padding: 10px 50px 10px 10px;
}

#input_section div{
    display: grid;
    align-content: stretch;
    margin-bottom: 35px;
}

#input_section label{
    color: hsl(186, 14%, 43%);
    margin-bottom: 10px;
}

#input_section #div1 div, #input_section #div3 div{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0;
    
}
#input_section p {
    display: inline;
    margin: 0;
    color: red;
    display: none;
}

#input_section input {
    border: 0;
    background-color: hsl(189, 41%, 97%);
    width: 100%;
    height: 40px;
}

.icons{
    position: relative;
}

.material-symbols-outlined{
    position: absolute;
    top: 8px;
    left: 10px;
    color: hsl(184, 14%, 56%);
}

::placeholder{
    color: hsl(184, 14%, 56%);
    font-family: myFont;
    font-size: 22px;
}

#div1{
    display: flex !important;
    flex-wrap: wrap;
}

#div1 input{
    padding: 15px;
    text-align: right;
    font-family: myFont;
    font-size: 24px;
    color: hsl(183, 100%, 15%) !important;
}

#button_div{
    display: flex !important;
    flex-wrap: wrap;
    margin: 0 !important;
}

#button_div input{
    background-color: hsl(189, 41%, 97%) !important;
    color: hsl(183, 100%, 15%) !important;
    text-align: center;
}

#input_section button, #button_div input{
    border: 0;
    margin: 0 0.4rem 0.4rem 0 ;
    width: 30%;
    height: 40px;
    background-color: hsl(183, 100%, 15%);
    color: white;
    font-size: 24px;
    font-family: myFont;
    border-radius: 5px;
}

#button_div button:hover, #reset:hover{
    background-color: hsl(172, 67%, 45%);
    cursor: pointer;
}

#div3 input{
    padding: 15px;
    text-align: right;
    font-family: myFont;
    font-size: 24px;
    color: hsl(183, 100%, 15%) !important;
}

#output_section{
    width: 45%;
    height: 350px;
    border-radius: 10px;
    background-color: hsl(183, 100%, 15%);
    padding: 35px;
}

#output_section div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#p{
    color: white;
}

#p_span{
    color: hsl(185, 81%, 27%);
}

#tip_amount_value, #total_value{
    color: hsl(172, 67%, 45%);
    font-size: 31px;
    margin: 0;
}

#reset{
    width: 100%;
    background-color: hsl(185, 81%, 27%);
    color: hsl(183, 100%, 15%);
    height: 35px;
    margin-top: 5.8rem;
    font-size: 20px;
    font-family: myFont;
    border: 0;
    border-radius: 5px;
}

.error{
    border: 1px solid red;
}

@media screen and (max-width: 1000px) {
    #main {
        width: 100%;
        height: 650px;
        display: flex;
        flex-direction: column;
        border-radius: 20px 20px 0 0;
    }

    #input_section, #output_section {
        width: 100%;
        padding: 10px;
        margin-bottom: 30px;
    }
    
    #output_section {
        height: 250px;
    }

    #reset{
        margin-top: 20px;
    }
}